.outer{
    height:400px;
    width:500px;
    margin:10px;
    background-color:steelblue; 
}
.inner{
    height:50px;
    width:50px;
    background-color: maroon;
    box-shadow: 2px 2px 3px red;
    
}
#div2{
    
    transform:translate(150px,5px);
    position:relative;
    animation: box1 2s ease 0s infinite alternate both;
    
    
}
#div3{
    transform:translate(250px,-40px);
    position:relative;
    
    animation: box1 5s linear 0s infinite alternate none;
    
}
#div4{
    background-color:darkolivegreen;
    box-shadow: 2px 2px 3px greenyellow;
    transform:translate(10px,80px);
    position: relative;
    animation: box2 3s linear 0s infinite alternate none paused;
    
}
#div1:active > #div4{
    animation: box2 3s linear 0s infinite alternate none;
    
}
@keyframes box1{
    from{
        top:10px;
    }
    to{
        top:335px;
    }
}
@keyframes box2{
    from{
        left: 20px;
    }
    to{
        left:360px;
    }
}

